.content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    margin: 20px 0;
    position: relative;
}

.content .card {
    width: 30%;
    height: 200px;
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content-wrapper {
    position: relative;
}

.content-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content-overlay-text p {
    font-size: 4rem;
    font-family: "Source Serif 4", serif;
    margin: 0px 0 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}