.header-bg {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #120c0b;
}

header {
    position: sticky;
    z-index: 1000;
    height: 80px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    padding: 10px 20px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 60px;
    margin-right: 10px;

}

header .logo span {
    color: white;
    font-size: 1.5rem;
    font-family: "Playwrite IN", serif;
    font-weight: 800;
}

header nav {
    padding-right: 3rem;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 35px;
    font-size: 21px;
    font-family: "Source Serif 4", serif;

}

header nav a:hover {
    text-decoration: underline;
    -webkit-text-stroke: 0.2px #ed006f;
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ed006f;
    color: white;
    margin-left: 35px;
    font-size: 22px;
    font-weight: bold;
    text-align: center; 
    text-decoration: none; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease; 

}

.contact-button:hover {
    background-color: #45a049; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px); 
}

.contact-button:active {
    background-color: #3e8e41; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transform: translateY(0); 
}


@media screen and (max-width: 768px) {

    header nav a {
        margin: 0 10px;
        font-size: 16px;
    }
}