:root {
    --clr-neutral-1000: hsl(0, 0%, 0%);
    --clr-neutral-600: hsl(0, 0%, 25%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --clr-accent: #fcc737;

    --ff-base: Robot, sans-serif;
    --ff-hindi: "Tiro Devanagari Hindi", serif;
    --ff-logo: "Playwrite IN", serif;

    --fw-regular: 400;
    --fw-bold: 700;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: var(--ff-base);
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  .opt-contact {
    margin-inline: auto;
    font-size: 1rem;
}

.opt-contact span {
    color: var(--clr-accent);
    text-decoration: underline;
}

.contact-form input {
    padding: .125rem;
}

.contact-form h1 {
    font-size: 3rem;
}

.form-label {
    font-size: 1.125rem;
    margin-block: auto;
    padding: 0;
}

.submit-button {
    padding: auto;
    margin-top: 1rem;
    background: var(--clr-accent);
    border: none;
    font-weight: 600;
}

.contact-form {
    display: grid;
    margin: 2rem;
}

.contact-form-wrapper {
    display: grid;
    min-height: 70vh;
    width: 40vw;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    border: 2px solid var(--clr-accent);
}

.popup-close {
    margin-left: auto;
    padding: 0.5rem;
    aspect-ratio: 1;
    text-align: center;
    line-height: 0;
    font-weight: 700;
    background: var(--clr-accent);
    border: none;
}

div.hidden {
    display: none;
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

/* Main site */


.top-banner {
    min-height: fit-content;
    width: auto;
    background-color: var(--clr-accent);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts {
    display: flex;
    align-items: center;
    padding: 0.2rem;
    font-size: 1.1rem;
    font-weight: var(--fw-bold);
}

.contacts > ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    margin-block: auto;
    align-items: center;
    justify-content: center;
}

.phone, .whatsapp, .email {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.phone a, .whatsapp a, .email a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    font-weight: var(--fw-bold);
}

.contacts  ul  div  li a:hover {
    text-decoration: underline;
}

.contacts > ul img {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.4rem;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.40) 75%, rgba(0, 0, 0, 0) 100%);;
    background-color: black;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    z-index: -1;
    background-color: black;
    
}

.logo {
    display: flex;
    align-items: center;
    color: var(--clr-neutral-100);
    font-family: var(--ff-logo);
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1rem;
    padding-left: 2rem;
    cursor: default;
}

.logo img {
    height: 5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    border: 1.75px solid var(--clr-accent);
}

.menu {
    display: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2.5rem;
    font-size: 1.4rem;
    font-weight: var(--fw-bold);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    list-style: none;
    margin: 0;
}

nav ul a {
    color: var(--clr-neutral-100);
    text-decoration: none;
    cursor: pointer;
}

nav ul a:hover {
    text-decoration: underline;
    color: var(--clr-accent);
}

.contact-button {
    background-color: var(--clr-accent);
    color: var(--clr-neutral-100);
    border: 2px solid var(--clr-accent);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.contact-button:hover {
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-1000);
}


.hero {
    position: relative;
    text-align: center;
    overflow: hidden;
    max-height: 83vh;
    background-size: cover;
    background-position: center;
}

.hero-overlay {
    position: absolute;
    top: -35%;
    left: -50%;
    text-align: center;
    transform: translate(50%, 50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    color: var(--clr-neutral-100);
}

.hero-line-1 {
    font-family: var(--ff-hindi);
    font-size: 5rem;
    /* -webkit-text-stroke: 1.5px black; */
    font-weight: var(--fw-bold);
}

.hero-line-2 {
    font-family: var(--ff-logo);
    font-size: 2.3rem;
    font-weight: var(--fw-bold);
}

/* Content Section */

.content-wrapper {
    display: grid;
    gap: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.content-top-bar{
    display: grid;
    grid-template-columns: 8fr 1fr;
    margin-inline: 2vw;
}

.content {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-inline: 2vw;
}

.content-main-label {
    font-size: 1.8rem;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-1000);
}

.content-main-label::after {
    content: "";
    display: block;
    width: 12rem;
    height: 3.5px;
    background-color: var(--clr-accent);
}

.content-top-bar > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.filter-button {
    display: flex;
    height: 2rem; 
    width: 4rem;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-1000);
    background-color: grey;
    border-radius: 0.5rem;
    cursor: pointer;
}

.content .card {
    height: 200px;
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    filter: blur(4px);
}

.content-overlay {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50rem;
    left: 0;
    /* transform: translate(-50%, -50%); */
    text-align: center;
}

.content-overlay p {
    font-size: 6vw;
    font-weight: var(--fw-bold);
    color: white;
    margin: 0px 0 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

/* About Section */

.about-header p {
    text-align: center;
    background-color: var(--clr-neutral-1000);
    font-size: 2.5rem;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-100);
    padding-block: 1rem;
    margin: 0;
    line-height: 2.7rem;
    box-shadow: 3px 2px 10px 6px rgba(0, 0, 0, 0.4);

}

.about-header p::after {
    content: "";
    display: block;
    width: 11rem;
    height: 5px;
    background-color: var(--clr-accent);
    margin-inline: auto;
    /* margin-top: 0.5rem; */
    /* margin-bottom: 1rem; */
}

.about-section {
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 1rem;
}

.side-bar {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url(../img/temple5-side.png);
    background-repeat: no-repeat;
    background-position: center;
    
}


.about-main{
    margin-block: 1rem;
    display: grid;
    gap: 1rem;
    margin-right: 2rem;
}

.about {
    display: flex;
    border: 3px solid var(--clr-accent);
    border-radius: 20px;
    margin-inline: 0rem;
}

.picture {
    aspect-ratio: 1;
    height: 11rem;
    margin: 1rem;
    border-radius: 50%;
    /* border: 3px solid var(--clr-accent); */
    box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.2);
}


.about div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.about div .name {
    font-size: 2rem;
    font-weight: var(--fw-bold);
}

.about div .post {
    font-size: 1.15rem;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-600);
}

.about div .intro {
    line-height: 1.2rem;
    margin-right: 1rem;
}

.about-button {
    width: 8rem;
    margin-left: auto;
    margin-right: 2rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.2);
    font-weight: var(--fw-bold);

}

/* Footer Section */

footer {
    /* margin-top: 1rem; */
    background-color: var(--clr-neutral-1000);
    color: var(--clr-neutral-100);
    /* max-height: 40vh; */
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

.footer-company-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.1rem;
    /* border: 2px solid var(--clr-accent); */
}

.logo-footer {
    padding: 0rem;
}

.footer-headings {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
    margin: 0;
}

.footer-headings::after {
    content: "";
    display: block;
    width: 100%;
    height: 3.5px;
    background-color: var(--clr-accent);

}

.site-links {
    margin-inline: auto;
    /* border: 2px solid var(--clr-accent); */
}

.site-links ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    font-size: 1.1rem;
    color: var(--clr-neutral-100);
}

.site-links ul>li::marker {
    color: var(--clr-accent);
    font-size: 1.5rem;
}

.site-links ul a {
    color: var(--clr-neutral-100);
    text-decoration: none;
    cursor: pointer;
}

.site-links ul a:hover {
    text-decoration: underline;
    color: var(--clr-accent);
}

.contact ul {
    display: grid;
    gap: 1.5rem;
    font-size: 1.1rem;
    list-style: none;
    margin-top: 0.5rem;
}

.contact ul>div {
    display: flex;
}

.contact ul img {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.8rem;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
}

.copyright-name {
    font-weight: var(--fw-bold);
    color: var(--clr-accent);
}