.top-banner {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #FCC737;
    color: black;
    align-items: center;
    justify-content: center;
}

.top-banner .contact {
    font-weight: 530;
    display: flex;
    justify-content: center;
}

.top-banner .contact span {
    margin-right: 1em;
}

.top-banner .contact img {
    height: 1.2%;
    width: 1.2%;
    right: 0;
    translate: 3px;
    margin-right: 7px;
    margin-top: 5px;
}

.top-banner .contact span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.top-banner .socials {
    padding-left: 10%;
}

.top-banner .socials a img {
    height: 10%;
    width: 10%;
}